*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/*
:root {
  --clr-main:#c56cee;
  --clr-main-ligth: #efdaf9;
}
*/
.App {
  text-align: center;
}
.container-navbar {
  background-color:rgb(44, 40, 40) ;
  

}
.navbar {
  display: inline-block;
  background-color: rgb(44, 40, 40) !important;
  color: whitesmoke;
  height: 5rem;
  width: 95vw;
}

  


.navbar .navbar-brand {
  color: #ecf0f1;
  gap: 25px;
  margin-left: 40px;
  
}

.navbar .navbar-nav .nav-link {
  color:  #ef86d380;
  border-radius: .25rem;
  margin: 0 0.25em;
  font-size: 1.1rem;
  padding: 1rem;
}
.number{
  height: 2rem;
  margin: 0.5rem;
}

.navbar {
    padding: 0.9rem;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.enlaces{
  text-decoration: none;
  
  margin: 1.4rem;
  color: #ef86d380;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.enlacesDes{
  margin: .28rem;
}
.enlacesDes a{
  color: rgb(0, 0, 0);
}
.enlacesDes a:hover{
  /*color:rgb(39, 134, 222);*/
  color: #ef86d380;
}
.enlacesDes:hover{
  background: rgba(84, 82, 82, 0.403);
  transition: 0.5s;
  border-radius: 5px;
}
/*navbar*/
.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  
  
  
}

.containerItemList {
 
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  ;

  flex-wrap: wrap;
  /*max-width: 1140px;*/
  /*padding-inline: 1.5rem;*/
  
 
}


.producto {
  display: flex;
  flex-direction: column;
  background-color:  #ef86d380;
  border-radius: 2px;
  padding: 10px;
  margin: 1.5rem;
  justify-content: center;
  gap: 5;
  display: inline-block;
}

/*
.producto > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

} */

.itemListContainer {
  background-color: rgb(244, 241, 238);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



/*para cada tarjeta*/
.producto-detalle {
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 20%;
  padding: 10px;
  margin: 20px;
  background-color: #ef86d380;
  border-radius: 1px; 
}
.precio {
  font-size: large;
  font-weight: bold;
}
.item-count-container {
  display: flex;
  align-items: center;
}
.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.item-count button, .agregar-al-carrito, .enviar, .Number {
  background-color: var(--clr-main);
  border: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
}
.item-count button:hover, .agregar-al-carrito:hover, .enviar:hover , .Number{
  background-color: white;
  color: black;
}
.Number {
  color :black;
}

.agregar-al-carrito, .enviar {
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.container-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

button {
  border-radius: .5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  border: 2px solid var(--clr-main);
  transition: .2s;
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color:#0b080a80;
  background-color: #ef86d380;
  letter-spacing: 3px;
  border: 3px solid #ef86d380 ;
  border-radius: 10%;
  cursor: pointer;
}

.menu-link {
  height: 80%;
  margin-right: 10px;
  text-decoration: none;
  font-size: 150%;
}

.numero {
  font-size: medium;
  margin-right: 50px;
}

.Ver-mas {
  text-decoration: none;
  background-color: var(--clr-main);
  border: 0;
  height: 2rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
}

.Ver-mas:hover {
  background-color: white;
  color: black;
}

.container-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
  background-color:  #ef86d380;
  width: 50%;
  margin: auto;
  gap: 5px;
}

.contacto-title {
  margin-top: 2rem;
}
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  
}

.input-form {
  margin: 5px;
  padding: 3px;
  padding: auto;
  text-decoration: none;
  border-radius: 1px; 
  text-align: center;
  text-shadow: #0b080a80;
  color: black;
  border: hidden;
 
}

.input-form:hover {
  
  color: black;
}

.finalizar {
  
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
  border: 2px solid var(--clr-main);
  transition: .2s;
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color:#0b080a80;
  background-color: #ef86d380;
  letter-spacing: 3px;
  border: 3px solid #ef86d380 ;
  padding-inline: 35px;
  cursor: pointer;
}

.contacto-title , .checkout-title{
  font-size: 40px;
  font-weight: 600;
  font-style:normal;
}
.pedido-checkout {
  color:#8c076980 ;
  font-weight: 800;
  font-weight: 900;
  font-size: larger;
}

.btn-enviar {
  background-color: var(--clr-main);
  border: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
  margin-top: 10px;
}

.btn-enviar:hover {
  background-color: white;
  color: black;
}